In [ ]:
#data types -
int, str, float, bool
#  data strcuture
1) Tuple
2) list
3) Dictionary

In [1]:
#tuple
a=(1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [2]:
#indexing ---- > both + / - supported
#a[index]
a[2]

3

In [3]:
a[-2]

4

In [4]:
#slicing
#a[startindex:endindex+1]
a[1:3]

(2, 3)

In [5]:
a[1:]

(2, 3, 4, 5)

In [6]:
a[:4]

(1, 2, 3, 4)

In [7]:
a[-1:-3] #can't go right to left

()

In [8]:
a[-3:-1]

(3, 4)

In [9]:
a[1:5:2] #last value of 2 indicates the skip in between so 2 says skip 2 values in b/w

(2, 4)

In [13]:
#list
a=[1,"abv",3.2,True]
#tuple
b=(1,"abv",3.2,True)
#now if you have to change grade or anything then in Tuple it can be done not in List although value can be added - only new values in the last, existing can't be changed
#why use tuple if list can support both?? Tohandle senstitive info which we dont want to change in any case
# list is much faster and much more advanced and has lots of functions
a[2]=1.5
a

[1, 'abv', 1.5, True]

In [15]:
b[2]=1.7
b

TypeError: 'tuple' object does not support item assignment

In [26]:
# Dictionary (mutable)
# Now in above list/tuple, we dont have what values means like what 'abv' means if we dont have key mentioned

#c={key:value,key:value,key:value,key:value}
c={"ID":1,"Name":"Satish","Grade":1.1,"Active":True}
c
c["ID"]

1

### PANDAS

In [27]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\satish pc\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\satish pc\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\satish pc\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\satish pc\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\satish pc\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [31]:
import pandas as pd

In [35]:
data=pd.read_csv("Ford.csv")
data

                                             Headlines Publish Time
0         Deutsche Post and Ford to manufacture E-Van     14-Jun-17
1    Ford says May China vehicle sales -3 percent y/y      7-Jun-17
2    Ford reports U.S. sales of 241,126 vehicles in...     1-Jun-17
3    Precision Camshafts gets global contract from ...    29-May-17
4    Ford announces global leadership team appointm...    25-May-17
..                                                 ...          ...
242  Ford Motor Company Recalls 363,000 F-150 Truck...    27-Jan-11
243  Ford Motor Company's Ford Motor Credit To Sell...    27-Jan-11
244  Fitch Upgrades Ford Motor Company & Ford Credi...    27-Jan-11
245  Ford Motor Company Recalls 5.25 Lakh Windstar ...    27-Jan-11
246  Ford Motor Company Plans To Build Engines For ...    25-Jan-11

[247 rows x 2 columns]